---
layout: default
---

<h2>Features</h2>
<p>Progressive Web Applications are like good old web sites but <strong>better</strong>. In a modern browser they exhibit <strong>super&ndash;powers</strong> and become&hellip;</p>
<ul class="grid">
  {% for feature in site.features  %}
    <li>
      <a href="{{ feature.url | prepend: site.baseurl }}">
        <div class="icon {{ feature.slug }}"></div>
        <h3 id="{{ feature.slug }}">{{ feature.title }}</h3>
        <p>{{ feature.description }}</p>
      </a>
    </li>
  {% endfor %}
</ul>
<h2>Technologies</h2>
<p>Progressive Web Applications use the correct set of <strong>technologies</strong> to leverage UX in the Web&hellip;</p>
<ul class="grid">
  {% for technology in site.technologies  %}
  <li>
    <a href="{{ technology.url | prepend: site.baseurl }}">
      <h3 id="{{ technology.title }}">{{ technology.title }}</h3>
      <p>{{ technology.description }}</p>
    </a>
  </li>
  {% endfor %}
</ul>
