* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  color: rgb(0,150,221);
  text-decoration: none;
}

body {
  font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #333;
  display: flex;
  flex-direction: column;
}

header {
  justify-content: center;
  color: #fff;
}

header .wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.titles {
  background-image: url('../icons/progressive-hq-blue.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 120px;
  padding-left: 130px;
  margin: 1rem 0 1rem;
}

.titles h1,
.titles h2 {
  font-weight: 300;
  margin: 0;
}

.titles h1 {
  font-size: 2.5rem;
  color: #fff;
}

.titles h2 {
  color: #d1d2d3;
  font-size: 1.7rem;
}

.titles strong {
  font-weight: 500;
}

nav {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.07rem;
}

nav ul {
  list-style: none;
}

nav li a {
  text-decoration: none;
  color: #fff;
}

input {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  border: 0;
  border-radius: 3px;
  max-width: 900px;
  width: 80%;
  font-size: 1.1rem;
  background-image: url('../icons/search.svg');
  background-repeat: no-repeat;
  background-position: 0.5rem center;
  background-size: 1rem 1rem;
}

.wrapper {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 1rem;
}

.content {
  flex-grow: 1;
  font-size: 1.25rem;
}

.content h2 {
  color: #4d4e53;
  font-size: 2rem;
  font-weight: 300;
  border-bottom: 1px solid #bbb;
}

.technology .content h2:first-child,
.feature .content h2:first-child {
  color: #000;
  font-weight: bold;
  border: none;
}

.content p {
  font-weight: 400;
}

.content ul {
  list-style: none;
}

.content ul li {
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #d1d2d3;
  justify-content: center;
}

footer .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer ul {
  list-style: none;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.quick-links {
  padding: 0;
  margin: 0;
}

.quick-links li {
  font-size: 1rem;
  background: none;
  padding: 0 0.5rem;
  padding-left: 2rem;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 1.5rem;
}

.quick-links li.status {
  background-image: url('../icons/status.svg');
}

.quick-links li.spec {
  background-image: url('../icons/spec.svg');
  background-size: 1rem;
  background-position: 0.25rem center;
}

.resources li h3 {
  background-size: 1rem 1rem;
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 1.7rem;
}

.resources li.doc h3 {
  background-image: url('../icons/doc.svg');
}

.resources li.tool h3 {
  background-image: url('../icons/tool.svg');
}

.resources li.demo h3 {
  background-image: url('../icons/demo.svg');
}

.faq,
.resources,
.use-cases {
  padding: 0;
  font-style: italic;
}

.faq li,
.resources li,
.use-cases li {
  background-color: #f8f8f8;
  padding: 0.5rem;
  border-radius: 5px;
}

.faq h3,
.resources h3 {
  margin: 0;
}

.faq p,
.resources p {
  margin: 0.2rem 0 0.5rem 0;
}

.grid {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

.grid li {
  display: flex;
  flex-direction: column;
  min-height: 5rem;
  text-align: center;
  padding: 0.5rem;
  width: 33%;
  transition: background-color 100ms linear;
  font-size: 1rem;
}

@media (max-width: 600px) {
  .grid li {
    width: 50%;
  }
}

@media (max-width: 450px) {
  .grid li {
    width: 100%;
  }
}

.grid li:hover {
  background-color: #f8f8f8;
  transition: background-color 200ms linear;
}

.grid li a {
  color: inherit;
  text-decoration: inherit;
}

.grid li:hover h3 {
  color: #0095dd;
  transition: color 200ms linear;
}

.grid li p {
  font-weight: 300;
  font-style: italic;
  margin: 0;
}

.icon {
  height: 50px;
  width: 50px;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.network-independent {
  background-image: url('../icons/network-independent.svg');
}

.re-engageable {
  background-image: url('../icons/re-engageable.svg');
}

.discoverable {
  background-image: url('../icons/discoverable.svg');
}

.progressive {
  background-image: url('../icons/progressive.svg');
}

.responsive {
  background-image: url('../icons/responsive.svg');
}

.fresh {
  background-image: url('../icons/fresh.svg');
}

.safe {
  background-image: url('../icons/safe.svg');
}

.installable {
  background-image: url('../icons/installable.svg');
}

.linkable {
  background-image: url('../icons/linkable.svg');
}

.blueprint {
  background-image: url("https://developer.cdn.mozilla.net/static/img/header-background.4c35c324fbeb.png"),
  url("https://developer.cdn.mozilla.net/static/img/blueprint.87f886510d2c.png"),
  url("https://developer.cdn.mozilla.net/static/img/mdn-header-gradient.fdbe8fea0861.png");
  background-repeat: repeat, repeat, repeat-x;
  background-color: #00539f;
}