<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{{ page.layout }}">

    {% include header.html %}

    <section class="content">
      <div class="wrapper">
        <h2>{{ page.title }}</h2>
        {{ content }}
        <h2>Use cases</h2>
        <ul class="use-cases">
          {% for usecase in page.usecases %}
            <li>{{ usecase }}</li>
          {% endfor %}
        </ul>
        <h2>Technologies</h2>
        <ul class="grid">
          {% for technology in site.technologies %}
            {% if page.technologies contains technology.slug %}
              <li>
                <a id="{{ technology.id }}" href="{{ technology.url | prepend: site.baseurl }}">
                  <h3 id="{{ technology.title }}">{{ technology.title }}</h3>
                  <p>{{ technology.description }}</p>
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </section>

    {% include footer.html %}

  </body>

</html>
