<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{{ page.layout }}">

    {% include header.html %}

    <section class="content">
      <div class="wrapper">
        <h2>{{ page.title }}</h2>
        {{ content }}
        <ul class="quick-links">
          <li class="status">
            <a href="{{ page.status }}" target="_blank">Implementation status</a>
          </li>
          <li class="spec">
            <a href="{{ page.spec }}" target="_blank">Specification</a>
          </li>
        </ul>
        {% include resources.html %}
      </div>
    </section>

    {% include footer.html %}

  </body>

</html>
